header{
    font-size: 100%;
    .gridContainer{
        //padding: 0 5vw;
        margin: auto;
        width: 1170px;
        padding: 5rem 0 0 0;
        
    }
    
    .left{
            width: calc(25% - 20px);
            
            
    }

    
   
    }
    .right{
        
            width:75%;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
        
            nav a{
             &:first-child{
                    margin-left: 0;}
            }
        
         nav{
            display:flex;
        
       
    a{
        
    font:1.5rem/3.6rem Times New Roman;
    font-weight: 400;
    color:#959595;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 20px;
        display: block;
        &:hover{
             text-decoration:underline;
            
        }
             }}
        
    
        input[type="text"] {
            padding-left: 3rem;
            width: 200px;
            height: 30px;
            border: 0.1rem solid #dddddd;
            background-image: url(../image/header/search.jpg);
            background-repeat: no-repeat;
            background-position: left;
            background-position-x: 1rem;
            font: 1.2rem/1.8rem 'Arial';
            font-style: italic;
            color:rgba(179,179,179,.5);
            
        }    
        .bold{
            
            padding: 80px 0;
            font: 3rem/3.6rem Times New Roman;
            //font-weight: 300;
            color:#565656;
        }
    }
