.gridContainer {
    width:1140px;
    margin:auto;
}

.doubleCol {
    display:flex;
    justify-content: space-between;
    
    
        .title {
        padding:1.5rem 0 0;
        margin-top:0;
        border-top:.1rem dotted #ccc;
        text-transform: uppercase;
        width:calc(25% - 20px);
        font:1.6rem/2.4rem 'Times New Roman';
        }
    
        .content {
        width:calc(75% - 20px);
        }
    
        h1 {
        font-size:1.8rem;
        text-transform: uppercase;
        color:#616161;
        }
    
        h2 {
        font-size:1.6rem;
        color: #a1a1a1;
        }
    
        p {
        font-size:1.2rem;
        line-height: 1.6rem;
        color: #959595;
        }
}

.blog {
        display:flex;


        article {
            width:calc((100% - 80px) / 3);
            margin: 0 40px 40px 0;
            overflow: hidden;
            position:relative;
        }
    
        article:nth-of-type(3n) {
        margin:0 0 40px;
        }
    
}

.link {
        height:175px;

            img {
        width: 100%;
        height: 100%;
        }
            a {
        width:100%;
        height:175px;
        position:absolute;
        background:rgba(0,0,0,.5);
        color:#fff;
        top:-100%;
        transition: top 1s;
        }

}
.link:hover a{
    top:0;
}

.gallery {
    display:flex;
    flex-flow:wrap;

        article {
        width:25%;
        position:relative;
        overflow:hidden;
            
            a {
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    color:#fff;
    top:-100%;
    left:0;
    padding:1rem;
    transition:top 1s;
    display:flex;
    flex-flow:column;
    justify-content: flex-end;
    text-decoration: none; 
    }
            
        h2 {
    font-size:1.4rem;
    text-transform: uppercase;
    color: #959595;
    }
        p {
        font-size: 1.4rem;
        }
}

}
.gallery article:hover a {
    top:0;
}
img {
    display: block;
}
.href {
    
    &::before{
    
     content:url(../image/main/link.png);
     opacity: 0.5;
     position: relative;
     top: calc(50% - 18px);
     left: calc(50% - 18px); 
 }

}

